<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Golf_Club.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Golf_Club.My.MySettings.Golf_ClubConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Golf_Club.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Golf_Club.My.MySettings>
            <setting name="Admin_login" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="E:\Programming sample\VB.NET\Golf_Club\Golf_Club\Golf_Club.mdf";Integrated Security=True</value>
            </setting>
            <setting name="Members" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="E:\Programming sample\VB.NET\Golf_Club\Golf_Club\Golf_Club.mdf";Integrated Security=True</value>
            </setting>
            <setting name="Authen" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="E:\Programming sample\VB.NET\Golf_Club\Golf_Club\Golf_Club.mdf";Integrated Security=True</value>
            </setting>
        </Golf_Club.My.MySettings>
    </userSettings>
</configuration>